* {
    box-sizing: border-box;
}


.top {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    position: relative;
    width:100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.right ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}


/* header */

.nav{
    padding-left: 2%;
    padding-right: 2%;
}

.nav{
    background-color: rgba(240, 168, 62, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-list{
    display: flex;
    gap: 10px;
} 

.nav img {
    max-height: 5vh;
}

a{
    color: white;
    text-decoration: none;
}

/* main */

.banner img{
    width: 100%;
    height: auto;
}

.productos{
    display: flex;
    justify-content: center;
}


/* footer */
footer{
    display:flex;
    justify-content: space-between;
}

.nosotros{
    display: flex;
    flex-direction: column; 
}

.icono{
    display: flex;
}

aside{
    background-color: black;
    color:white;
    text-align: center;
}